*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../imagen/fondo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}

.barra {
    background-color: #8E7BFA;
}
.padre i {
    margin-right: 1.5rem;
}
.navegacion {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
.navegacion a {
    padding: 1rem;
    display: block;
}
@media (min-width:768px ) {
    .navegacion {
        flex-direction: row;
    }
}
.enlace {
    overflow: hidden;
}
.enlace:target .submenu {
    max-height: 300px;
}

@media (min-width:768px ) {
    .enlace {
        flex: 1;
        position: relative;
        overflow: visible;
    }
    .enlace .submenu {
        position: absolute;
        width: 100%;
    }
}

.submenu {
    background-color: #C367F0;
    max-height: 0;
    transition: .8s;
}
@media (min-width:768px) {
    .submenu a {
        display: none;
    }
    .enlace:target .submenu a {
        display: block;
    }
}
.submenu a:hover {
    background-color: rgb(58,58,57);
}



/* TABLA */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  table th, table td {
    padding: .625em;
    text-align: center;
  }
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 639px) {
    table { border: 0; }
    table thead { display: none; }
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td:last-child { border-bottom: 0; }
    }